<ion-content class="cards-bg">
  <h4 class="tutorial__skip" (click)="completeTutorial()">
    Skip
  </h4>
  <ion-slides pager="true" (ionSlideDidChange)="afterSlideChange($event)" #slides>


    <ion-slide>
      <div class="tutorial__slide-container">
        <ion-icon class="tutorial__icon  ws-icon--logo-shadow"></ion-icon>
        <h2 class="tutorial__slide-header">Welcome to SpeakWrite!</h2>
        <br/>
        <div class="tutorial__slide-body">
          <br/>
          <strong>Write</strong>, <strong>Edit</strong> and <strong>Playback</strong>
          <br/>
            your next great masterpiece
          <br/><br/> All
            with the <i>power</i> of your voice.
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <tutorial-animated-slide *ngIf="slideTwoStarted"></tutorial-animated-slide>
    </ion-slide>

    <ion-slide>
      <div class="tutorial__slide-container">
        <div class="tutorial__slide-icon-group tutorial__slide-icon-group--step-speak-loud">
          <ion-icon slot="end"  class="tutorial__icon ws-icon--user-shadow"></ion-icon>
          <ion-icon slot="end"  class="tutorial__icon ws-icon--volume-2-shadow"></ion-icon>
          <ion-icon slot="end"  class="tutorial__icon ws-icon--smartphone-shadow"></ion-icon>
        </div>
        <br/>
        <h2 class="tutorial__slide-header">Remember to speak <br/> <strong>loud</strong> and <i>clear</i>. </h2>
        <div class="tutorial__slide-body">
          <!-- <div>For even better results, use a <a href="#">bluetooth mic</a>.</div> -->
          <!--<div class="tutorial__slide-body&#45;&#45;sub-text"> (For a list of commands he responds to, see <i>Command List</i> in the menu.)</div>-->
        </div>
        <br/>
        <br/>
        <ion-button expand="block" size="medium" fill="solid" color="primary" (click)="completeTutorial()">Finish</ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
