@import "../../generic-styles/_custom-variables.scss";
@import "../../generic-styles/_icons.scss";

ion-slides {
  height: 100%;
}

tutorial-animated-slide {
  height: 100%;
  width: 100%;
} 

.tutorial__slide-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tutorial__slide-container-full {
  height: 100%;
  width: 100%;
}

.tutorial__speak-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.tutorial__speak-message-icon {
  @extend .ws-icon;
  width: 100%;
  height: 150px;
}

.tutorial__speak-message-text {
  position: absolute;
  top: 20%;
  width: 210px;
  padding: 10px;
  font-style: italic;
}

.tutorial__icon {
  @extend .ws-icon;
  @extend .ws-icon--large;
}

@media screen and (max-width: 320px) {
  .tutorial__icon{
    width: 4em; //46px;
    height: 4em; //45px;
  }
}

.tutorial__skip {
  position: absolute;
  right: 0;
  margin: 1em 1em;
  z-index: 10;
  color: var(--ion-color-primary);
}
.tutorial__slide-header {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 4.5rem;
}
.tutorial__slide-header--margin {
  margin-top: 20%;
}
@media screen and (max-width: 320px) {
  .tutorial__slide-header{
    font-size: 1.25em;
  }
}

.tutorial__slide-body {
  color: $text-gray;
  line-height: 3.5rem;

  strong {
    color: $text-black;
  }
}

.tutorial__slide-body--sub-text {
  line-height: 2.5rem;
  font-size: 14px;
  padding: 10px;
}

.tutorial__slide-icon-group--step-assistant {
  position: relative;

  & .ws-icon--message-square-shadow {
    position: relative;
    top: -60%;
    right: -20vw;
  }

  & .ws-icon--file-text-shadow {
    position: absolute;
    left: 10%;
  }
}

.tutorial__slide-icon-group--step-speak-loud {
  position: relative;
  left:15%;
  & .ws-icon--user-shadow {
    position: relative;
    right: 55px;
  }

  & .ws-icon--volume-2-shadow {
    position: relative;
    top: -3vh;
    right: 20vw;
  }

  & .ws-icon--smartphone-shadow{
    @extend .ws-icon--medium;
    position: absolute;
    top: 50%;
    left: 60%;

  }
}

@media screen and (max-width: 320px) {
  .tutorial__slide-icon-group--step-speak-loud{
    & .ws-icon--smartphone-shadow {
      width: 2em; //46px;
      height: 2em; //45px;
      left: 45%;
    }
  }
}

.tutorial__finish-button {
  position: relative;
}

.tutorial__mock-editor {
  width: 80%;
  height: 120%;
  border: 1px solid gainsboro;
  position: relative;
  margin: auto;
  margin-top: 30%;
}
.tutorial__mock-editor-header {
  border-bottom: 1px solid gainsboro;
  width: 100%;
  height: 50px;
  background: #f5f5f559;
  line-height: 50px;
  font-weight: bold;
  font-size: 15px;

}
.tutorial__mock-editor-body {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 27px;
}
.tutorial__mock-editor-cursor {
  background: pink;
}

.tutorial__mock-editor-synonym-popover {
  padding: 10px;
  margin-left: 10px;
}

.tutorial__mock-editor-synonym-popover .synonym-word--mock {
  font-size: 20px;
  line-height: 20px;
}

@media screen and (max-width: 320px) {
  .tutorial__mock-editor-synonym-popover .synonym-word--mock {
    font-size: 15px;
    line-height: 15px;
  }
}

.tutorial__mock-editor-speak-icon-container {
  position: absolute;
  top: 175px;
  left: 10px;
  width: 100%;
  ion-icon {
    display: inherit;
  }
}

.tutorial__mock-editor-speak-icon-text {
  position: absolute;
  top: 20px;
  white-space: nowrap;
  left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.tutorial__mock-editor-speak-icon {
  transform: scaleX(-1);
  position: absolute;
  right: 15px;
}



.anim-typewriter{
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.anim-appear-base{
  opacity: 0;
}

.anim-appear {
  animation: appear .25s steps(50) 0s 1 normal both;
}

.anim-slideUp-slideDown-base{
  transform: translate(0, 400px);
}

.anim-slideUp-slideDown {
  animation: slideUp-slideDown 1s steps(50) 0s 2 alternate both;
}

.anim-slideOut-left-base {
  transform: translate(0, 0);
}
.anim-slideOut-left {
  animation: slideOutLeft 9s steps(100) .5s 1 normal both;
}

.anim-appear-disappear-base{
  opacity: 0;
}

.anim-appear-disappear-pulse {
  animation: appear-disappear .75s steps(50) 0s 10 alternate both;
}


@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes slideUp-slideDown {
  0% {
    transform: translate(0, 400px);
  }

  /* Finish changes by here */
  10% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes appear-disappear {
  0% {
    opacity: 0;
  }

  /* Finish changes by here */
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate(300px, 0);
  }
  100% {
    transform: translate(-700px, 0);
  }
}



