<div class="tutorial__slide-container-full">

    <h2 class="tutorial__slide-header tutorial__slide-header--margin">Speak Up.</h2>
    <ion-card class="tutorial__mock-editor">
        <div class="tutorial__mock-editor-header">Chapter One</div>
        <div class="tutorial__mock-editor-body">
            <span [innerHtml]="nonAnimatedEditorContent">
            </span>
            <span *ngIf="showAnimatedEditorText" 
                  class="anim-appear-base anim-appear"
                  [innerHtml]="animatedEditorContent">
            </span>
            <ion-card *ngIf="showMockSynonymPopover" class="tutorial__mock-editor-synonym-popover anim-appear-base anim-appear">
                <div class="synonym-header">Synonyms</div>
                <div class="synonym-word-container">
                    <div class="synonym-word synonym-word--mock">automation</div>
                    <div class="synonym-word synonym-word--mock">cyborg</div>
                    <div class="synonym-word synonym-word--mock">bionic person</div>
                    <div class="synonym-word synonym-word--mock">mechanical person</div>
                </div>
            </ion-card>
        </div>
        <div *ngIf="showReadBack" class="tutorial__mock-editor-speak-icon-container anim-appear-disappear-base anim-appear">
            <ion-icon slot="end"  class="tutorial__mock-editor-speak-icon ws-icon ws-icon--medium ws-icon--volume-2-shadow anim-appear-disappear-pulse"></ion-icon>
            <div class="tutorial__mock-editor-speak-icon-text anim-slideOut-left-base anim-slideOut-left">Once upon a time, there was a killer cyborg who lived on the moon.</div>
        </div>
    </ion-card>
    
    <div  *ngIf="showAnimatedSpokenWords"
          class="tutorial__speak-message anim-slideUp-slideDown-base anim-slideUp-slideDown">
        <ion-icon slot="end"
                  class="tutorial__speak-message-icon ws-icon--message-square"></ion-icon>
        <div class="tutorial__speak-message-text ">{{spokenWords}}</div>
    </div>
</div>