
$speakWrite-width: 200px;
$notWrong-width: 85px;
.page-upgrade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.page-upgrade__title {
    flex-grow: 1;
}
.page-upgrade__speakwrite {
    margin: 0 auto;
    font-size: 36px;
    margin-top: 15%;
    width: $speakWrite-width;
    text-align: center;
}

.page-upgrade__speakwrite-icon {
    margin: 0 auto;
    flex-grow: 2;
}

.page-upgrade__not-wrong {
    margin: 10px auto;
    position: relative;
    right: 90px;
    font-size: 16px;
}

.page-upgrade__no-ads {
    margin: 0 auto;
    font-weight: bold;
    font-size: 28px;
    flex-grow: 2;
}

.page-upgrade__awesomesauce {
    margin: 0 auto;
    font-size: 18px;
    flex-grow: 1;
    font-style: italic;
}

.page-upgrade__upgrade-button {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Animation */
.anim-typewriter{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
}
.anim-typewriter--speakWrite {
    animation: typewriter .75s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(10) 5 normal; 
}
.anim-typewriter--notWrong {
    animation: typewriter2 .75s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(10) 5 normal;
    animation-delay: 2.5s; 
}

.anim-appear {
    animation: appear 2s steps(50) 1s 1 normal both;
}
.anim-appear--ws-icon {
    animation-delay: 4s; 
}
.anim-appear--no-ads {
    animation-delay: 4s; 
}
.anim-appear--awesomesauce {
    animation-delay: 5.5s; 
}
.anim-appear--upgrade {
    animation-delay: 6.5s; 
}

@keyframes appear {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes typewriter{
  from{width: 0;}
  to{width: $speakWrite-width;}
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: $notWrong-width;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}