<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Premium
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="page-upgrade">
      <div class="page-upgrade__title">
        <h1 class="page-upgrade__speakwrite anim-typewriter anim-typewriter--speakWrite" text-center>SpeakWrite</h1>
        <h6 class="page-upgrade__not-wrong anim-typewriter anim-typewriter--notWrong">Not wrong.</h6>
      </div>
      <div class="page-upgrade__speakwrite-icon ws-icon ws-icon--logo ws-icon--x-large anim-appear anim-appear--ws-icon">
      </div>
      <h3 class="page-upgrade__no-ads anim-appear anim-appear--no-ads">No ads.</h3>
      <h6 class="page-upgrade__awesomesauce anim-appear anim-appear--awesomesauce">With a side of awesomesauce.</h6>
      <div text-center class="page-upgrade__upgrade-button anim-appear anim-appear--upgrade" >
        <ion-button size="large" expand="block" color="dark" (click)="upgrade()">Upgrade for $8.99</ion-button>
      </div>  
    </div>
  </ion-content>