<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-about">
    <div text-center>
        <div>
            <ion-icon class="ws-icon ws-icon--logo ws-icon--small"></ion-icon>
        </div>
        <div>
          SpeakWrite WriteSpeak
        </div>
        <div>
          Version 1.0.0
        </div>
        <br/>
        <div>
          By ED<sup>2</sup>
        </div>
    </div>  
  </div>
</ion-content>
