@import '../../../theme/variables.scss';
.ql-container .ql-editor {
  max-height: 100vh;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  p:last-child {
    padding-bottom: 30vh;
  }

}
quill-editor div.quill-editor.ql-container {
  font-family: $font-family-libre;
}

.quill-editor {
  &--font-size-1 .ql-editor {
    font-size: 20px;
  }
  &--font-size-2 .ql-editor {
    font-size: 25px;
  }
  &--font-size-3 .ql-editor {
    font-size: 30px;
  }
  &--font-size-4 .ql-editor {
    font-size: 35px;
  }
  &--font-size-5 .ql-editor {
    font-size: 45px;
  }
}
