@import "../../generic-styles/_custom-variables.scss";

page-contact {

}

.editor-page__volume-widget {
  [type="range"] {
    bottom:75px;
    position: relative;
    width: 300%;
  }

}

.editor-page__listen-widget{

  ion-icon {
    width: 100%;
    text-align: center;
    font-size: 3em;
  }
}

.editor-page__listen-widget-pause {
  position: relative;
  --background: red;
  &-icon {
    color: white;
    // animation: fading 3s infinite;
    // -webkit-animation: fading 3s infinite;
  }
  
}

@keyframes fading {
  0%   { color: white }
  50%  { color: rgba(0, 0, 0, 0.6) }
  100% { color: white  }
}

@-webkit-keyframes fading {
  0%   { color: white }
  50%  { color: rgba(0, 0, 0, 0.6) }
  100% { color: white  }
}

.text-editor{
  border: none;
  resize: none;
  //height: 100vh;
  //width: 100vw;
  padding: 1em;
  font-size: 1.2em;

}


.recording-animation {
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

