@import '../../generic-styles/_icons.scss';

.definition-popover {
    padding: 10px;
    position: relative;
}

.definition-header {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    color: #091ff2;
}

.definition-container {
    padding-left: 5px;
}

.definition-text {
    font-size: 25px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.definition-text--blur {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.definition-popover-link-bottom {
    width: 100%;
    text-align: center;
}

.definition-popover-link-top {
    position: relative;
    top: -20px;
    height: 10px;
    width: 100%;
    text-align: center;
}

.definition-popover__upgrade-icon {
    @extend .ws-icon;
    @extend .ws-icon--award-purple;
    @extend .ws-icon--tiny;
    margin-right: 10px;
}