@import '../../generic-styles/_icons.scss';

.synonym-popover {
    padding: 10px;
    position: relative;
}

.synonym-header {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    color: #ff8ca0;
}

.synonym-word-container {
    padding-left: 5px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.synonym-word {
    font-size: 25px;
    margin-bottom: 15px;
    padding-left: 5px;
    text-align: center;
    line-height: 25px;
}

.synonym-word--blur {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.synonym-popover-link-bottom {
    width: 100%;
    text-align: center;
}

.synonym-popover-link-top {
    position: relative;
    top: -20px;
    height: 10px;
    width: 100%;
    text-align: center;
}

.synonym-popover__upgrade-icon {
    @extend .ws-icon;
    @extend .ws-icon--award-purple;
    @extend .ws-icon--tiny;
    margin-right: 10px;
}