@import "../../generic-styles/_custom-variables.scss";

.ws-command-list {
  background: $whitesmoke;
}
.ws-command-list__command-quote {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
  background: $background-light-gray;
  padding: 1rem;
}

.ws-command-list__command-body {
  margin-left: 2em;
}
.ws-command-list__header {
}

.ws-command-list__header {
  &--blue {
    border-top: 3px solid $blue;
  }
  &--orange {
    border-top: 3px solid orange;
  }
  &--green {
    border-top: 3px solid greenyellow;
  }
  &--tertiary {
    border-top: 3px solid var(--ion-color-tertiary);
  }
}

.ws-command-list__item {
}

.ws-command-list__alternates {
  margin-top: 1rem;
  font-size: 1em;
}
