/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// http://ionicframework.com/docs/v2/theming/
@import "./theme/variables.scss";


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "./custom-external/quill/quill-core";
@import "./generic-styles/icons";
@import "./generic-styles/custom-variables";
@import "./generic-styles/fonts";



//Header
.ws-header-1 {
  font-size: 1.8em;
  font-weight: 100;
}

.ws-header-2 {
  font-size: 1.5em;
  font-weight: 100;
}

//links
a {
  text-decoration: none;
}

//Grid
.ws-grid{
  display: flex;
  flex-wrap: wrap;
}


//Cards
.cards-bg {
  background-color: #f4f4f7;
}

.card-header-md + .card-content-md {
  padding-top: 16px;
}

.ws-card {
  position: relative;
}
.ws-card--doc {
  height: 30vh;
  .card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15rem;
    font-size: .1rem;
  }
}
.ws-card__header {
  font-size: 1.2rem;
  padding: 0;
}

//ION-ITEM
.ion-item--gray{
  --background:  rgba(205, 205, 205, 0.1);
  --border-color: transparent;
}


//RANGE

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.25px 0;
  transform: rotateZ(270deg);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  background: rgba(0, 0, 0, 0.39);
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0.1);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.53), 0px 0px 1px rgba(13, 13, 13, 0.53);
  border: 0px solid rgba(0, 0, 0, 0.1);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.25px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0.39);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  background: rgba(0, 0, 0, 0.39);
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0.1);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.53), 0px 0px 1px rgba(13, 13, 13, 0.53);
  border: 0px solid rgba(0, 0, 0, 0.1);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.39);
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.39);
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.53), 0px 0px 1px rgba(13, 13, 13, 0.53);
  border: 0px solid rgba(0, 0, 0, 0.1);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 1.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.39);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.39);
}


//MENU
ion-menu {
  --ion-background-color: var(--ion-color-white-clear);
  --width: 70%;
  ion-toolbar {
    --background: var(--ion-color-primary-contrast);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    --ion-background-color: transparent;
  }
}

.ws-menu__icon-close {
  position: absolute;
  right: 1rem;
}

.ws-menu__list {

}

.ws-menu__list-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.25em;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &.item-block .item-inner {
    border-bottom: none;
  }
}

.ws-menu__list-item--flex-container {
  display: flex;
  align-items: center;
}

.ws-menu__list-item-text {
  margin-left: 1.5rem;
}


.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  border: 1px solid white;
  height: 100%;
  width: 8px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.editor-popover-identifier {
  --width: 95%;
}

.pink-background {
  background: pink;
}

