<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary" class="ws-icon ws-icon--logo ws-icon--small"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg" >
  <div class="ws-home__sub-header">
    <ion-buttons slot="primary" class="ws-icon ws-icon--home ws-icon--x-small" *ngIf="folderStack.length == 1"></ion-buttons>
    <div class="ws-home__sub-header-folder-icon-group" (click)="popFolder()" *ngIf="folderStack.length > 1" >
      <div><ion-buttons slot="primary" class="ws-icon ws-icon--arrow-left-circle ws-icon--x-small"></ion-buttons></div>
      <div class="ws-home__sub-header-folder-icon-container"><ion-buttons slot="primary" class="ws-icon ws-icon--folder-shadow ws-icon--x-small"></ion-buttons></div>
      <div class="ws-home__sub-header-folder-icon-title">{{currentFolder?.title}}</div>
    </div>
  </div>

  <div class="ws-home__no-docs-bg" *ngIf="documents?.length == 0 && currentFolder?.folders.length == 0 && !loadingDocuments">
      <div class="ws-home__no-docs-bg-w">W</div>
      <div class="ws-home__no-docs-bg-text">Use + to create a new document</div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createNewFolder($event)">  <ion-icon name="folder"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="createNewDoc($event)"><ion-icon name="document"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid *ngIf="showItems">
    <ion-row justify-content-between>
      <ion-col size="6" *ngFor="let folder of currentFolder?.folders">
        <div class="ws-home__folder"  (click)="pushFolder(folder)">
          <div class="ws-home__folder-more-icon" (click)="presentItemPopover($event, 'folder', folder.id, currentFolder.id)">
            <ion-icon name="more" item-right ></ion-icon>
          </div>
          <h4 class="ws-home__folder-title">
            <span [ngClass]="{'long-text-size' : folder.title.length > 20}">{{folder.title}}</span>
          </h4>
          <ion-buttons slot="primary" class="ws-icon ws-icon--folder-shadow ws-icon--x-wide"></ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="showItems">
    <ion-row justify-content-between>
      <ion-col size="6" *ngFor="let document of documents">
        <ion-card class="ws-card ws-card--doc">
          <ion-card-header  class="ws-card__header">
            <ion-item class="ion-item--gray">
              <ion-label>
                <span (click)="navigateToEditorPage(document.id)">{{document.title}}</span>
              </ion-label>
              <ion-icon name="more" slot="end" (click)="presentItemPopover($event, 'doc', document.id )"></ion-icon>
            </ion-item>
          </ion-card-header>
          <ion-card-content (click)="navigateToEditorPage(document.id)" [innerHTML]="document.previewText">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
