.ws-icon {
  background-size: contain !important;

  //Possible Icons
  &--arrow-left-circle{
    background: url(~/assets/icon/arrow-left-circle.svg) no-repeat top left;
    background-size: contain;
  }
  &--arrow-up-circle{
    background: url(~/assets/icon/arrow-up-circle.svg) no-repeat top left;
    background-size: contain;
  }
  &--arrow-down-circle{
    background: url(~/assets/icon/arrow-down-circle.svg) no-repeat top left;
    background-size: contain;
  }
  &--book{
    background: url(~/assets/icon/book.svg) no-repeat top left;
    background-size: contain;
  }
  &--big-book{
    background: url(~/assets/icon/big-book.svg) no-repeat top left;
    background-size: contain;
  }
  &--chevron-down{
    background: url(~/assets/icon/chevron-down.svg) no-repeat top left;
    background-size: contain;
  }
  &--file-text-shadow {
    background: url(~/assets/icon/file-text--shadow.svg) no-repeat top left;
  }
  &--folder-shadow{
    background: url(~/assets/icon/folder-minimal.svg) no-repeat top right;
    background-size: contain;
  }
  &--home{
    background: url(~/assets/icon/home.svg) no-repeat top left;
    background-size: contain;
  }
  &--info{
    background: url(~/assets/icon/info.svg) no-repeat top left;
    background-size: contain;
  }
  &--logo {
    background: url(~/assets/icon/feather-mic-icon--small.svg) no-repeat top left;
    background-size: contain;
  }
  &--logo-shadow {
    background: url(~/assets/icon/feather-mic-icon--shadow.svg) no-repeat top left;
  }
  &--message-circle{
    background: url(~/assets/icon/message-circle.svg) no-repeat top left;
    background-size: contain;
  }
  &--message-square-shadow {
    background: url(~/assets/icon/message-square--shadow.svg) no-repeat top left;
  }
  &--message-square {
    background: url(~/assets/icon/message-square.svg) no-repeat top left;
  }

  &--mic{
    background: url(~/assets/icon/mic.svg) no-repeat top left;
    background-size: contain;
  }
  &--sliders{
    background: url(~/assets/icon/sliders.svg) no-repeat top left;
    background-size: contain;
  }
  &--award{
    background: url(~/assets/icon/award.svg) no-repeat top left;
    background-size: contain;
  }
  &--award-purple{
    background: url(~/assets/icon/award-purple.svg) no-repeat top left;
    background-size: contain;
  }
  &--smartphone-shadow {
    background: url(~/assets/icon/smartphone--shadow.svg) no-repeat top left;
  }
  &--star-face-shadow {
    background: url(~/assets/icon/star-face--shadow.svg) no-repeat top left;
  }
  &--user-shadow {
    background: url(~/assets/icon/user-shadow.svg) no-repeat top left;
  }
  &--volume-2-shadow {
    background: url(~/assets/icon/volume-2--shadow.svg) no-repeat top left;
  }
}

.ws-icon--tiny {
  width: 1.5em; //46px;
  height: 1.5em; //45px;
}

.ws-icon--x-small {
  width: 2em; //46px;
  height: 2em; //45px;
}

.ws-icon--small {
  width: 3em; //46px;
  height: 3em; //45px;
}
.ws-icon--medium {
  width: 4em; //46px;
  height: 4em; //45px;
}

.ws-icon--large {
  width: 6em; //46px;
  height: 6em; //45px;
}
.ws-icon--x-large {
  width: 8em; //46px;
  height: 8em; //45px;
}

.ws-icon--x-wide {
  width: 100%; //46px;
  height: 11em; //45px;
}


